html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
  }


.home-detail {
    width: 10vw;
    height: 100vh;
    margin: 0vh 0vw 0vh 3vw;
    flex-direction: column;
}

.home-detail > h1 {
    color: var(--color-base);
    font-family: var(--font-primary);
    font-size: 25px;
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
    white-space: nowrap;
}

.home {
    display: flex;
    align-items: center;
    height: 60%;
    margin-bottom: 5vh;
}

.logo-ground {
    display: flex;
    justify-content: center;
}

.logo-ground::before {
    content: "";
    position: absolute;
    top: -1%;
    width: 20%;
    height: 60%;
    background: var(--color-details);
    box-shadow: inset -25px 25px 50px #1a1a1a,
    inset 25px -25px 50px #2e2e2e;
    opacity: 1;
    z-index: -1;
}

.home-logo {
    margin: 0vh 0vw 5vh 0vw;
    z-index: 0;
}

.home-logo img {
    width: 65%;
}

.home-info {
    font-family: var(--font-secundary);
    width: 50%;
}

.home-info h1 {
    font-family: var(--font-title);
    font-size: 2.5rem;
    text-transform: uppercase;
}

.menu-toggle {
    width: 2rem;
    height: 2rem;
    padding: .25rem;
    transition: transform .4s;
    margin-bottom: 5vh;
    color: transparent;
}

.menu-toggle span {
    display: block;
    width: 100%;
    height: .25rem;
    border-radius: .25rem;
    background-color: var(--color-base);
    box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
    transition: background-color .4s, transform .4s, width .4s;
}

.menu-toggle span+span {
    margin-top: .375rem;
}

.menu-toggle:hover {
    transform: rotate(-90deg);
}

.menu-toggle:hover span {
    width: .25rem;
    transform: translateX(10px);
    background-color: rgb(243, 177, 130);
}

.navigation {
    position: fixed;
    z-index: 5;
    width: 100%;
    margin: 5vh 0vw 0vh 23vw;
}

.navigation a {
    display: inline-block;
    font-family: var(--font-secundary);
    font-weight: 700;
    color: #f6f4e6;
    text-decoration: none;
    margin-left: 3vw;
    font-size: 1.2em;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navigation a:hover {
    text-decoration: none;
    color: #fddb3a;
}

.navigation .dot {
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navigation a:nth-child(1):hover ~ .dot {
    transform: translateX(7vw);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navigation a:nth-child(2):hover ~ .dot {
    transform: translateX(17vw);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navigation a:nth-child(3):hover ~ .dot {
    transform: translateX(25.5vw);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

/* LAYERS STYLE */

.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.Page1 {
    background-color: darkblue;
    display: flex;
    left: 0;
    color:#FFF;
    transition: left 0.5s cubic-bezier(.25,0.1,.25,1);
}

.Page2 {
    background-color: darkorange;
    display: flex;
    left: 100%;
    transition: left 0.5s cubic-bezier(.25,0.1,.25,1);
}

.Page3 {
    background-color: darkgreen;
    display: flex;
    left: 100%;
    transition: left 0.5s cubic-bezier(.25,0.1,.25,1);
}

/* PAGE STYLE */

a[id="Page1"],
a[id="Page2"],
a[id="Page3"]{
    display: none;
}

.BaseLayers {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 2.5%;
}

a[id="Page1"]:target ~ main > section#PageOne,
a[id="Page2"]:target ~ main > section#PageTwo,
a[id="Page3"]:target ~ main > section#PageThree{
    left: 0;
}


/* PAGE TWO */

.home-recipe {
    display: flex;
    z-index: 10;
}
.recipe-logo {
    width: 33%;
    margin: 0vh 2vw 0vh -5vw;
}

#lighting {
    width: 70%;
    margin: -5vh 0vw 0vh 2vw;
}

#table {
    width: 100%;
}

.home-recipes {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.recipes {
    display: flex;
    flex-direction: row;
}

.recipe {
    position: relative;
    width: 25%;
    height: 45vh;
    background-color: #EADDCA;
    border-radius: 10px;
    overflow: hidden;
    border: 2px dashed #DAA06D;
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    margin: 10vh 2vw 0vh 0vw;
  }

  .recipe h1 {
    font-family: var(--font-secundary);
    width: 20%;
    margin: 0.5vw;
    font-size: 2rem;
  }

  .recipe img {
    position: absolute;
    left: 15%;
    top: 50%;
    width: 70%;
  }
  
  .recipe-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: White;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .box {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: rgba(66, 66, 66, 0.349) 5px 0px 10px 0px inset;
    transition: all 0.5s ease-in-out;
    display: grid;
    place-content: center;
    padding: 2rem 2rem 3rem 2rem;
   border: 2px dashed #DAA06D;
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  }
  
  .content {
    position: relative;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.5s ease-in-out 0.3s;
  }
  
  .box-title {
    display: block;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .box-text {
    color: rgba(255, 255, 255, 0.738);
    font-size: 0.8rem;
  }
  
  .box:hover {
    right: 0;
    top: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: rgba(66, 66, 66, 0) 5px 0px 10px 0px inset;
  }
  
  .box:hover .content {
    transform: translate(0, 0);
    opacity: 1;
  }
  
  .box2 {
    top: -70%;
    right: -60%;
    background: #9C884D;
    border-radius: 200px;
  }
  
  .box3 {
    top: -75%;
    right: -30%;
    background: #1a1a1a;
    border-radius: 200px;
  }

  .some-more {
    color: var(--color-base);
    width: 81.5%;
    height: 20%;
    background-color: #EADDCA;
    border-radius: 10px;
    overflow: hidden;
    border: 2px dashed #DAA06D;
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    margin: 10vh 2vw 0vh 0vw;
  }

  .some-more h1 {
    font-size: 1.5rem;
    margin: 1vw;
  }

  .some-more p {
    font-size: 1rem;
    margin: 1vw;
  }