@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&display=swap');

:root{
    --color-base: #F2F2F2;
    --color-primary: #D9BCA3;
    --color-secundary: #F2E3D5;
    --color-tertiary: #7a6c43;
    --color-complementary: #A67356;
    --color-add: #bc9573;
    --color-dashed: #D9B384;
    --color-details: #111111;

    --font-base: #ffffff;
    --font-primary: 'Josefin Sans', sans-serif;
    --font-secundary: 'Ysabeau Infant', sans-serif;
    --font-details: 'Marck Script', cursive;
    --font-title: 'Barlow Condensed', sans-serif;
    
}

