/* BUTTON */

.learn-more {
    font-family: var(--font-primary);
    position: relative;
    padding: 15px 45px;
    background: #FEC195;
    font-size: 17px;
    font-weight: 500;
    color: var(--color-details);
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1vh;
    border: 1px solid #FEC195;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
    box-shadow: inset -20px 20px 40px #eab289,
    inset 20px -20px 40px #ffd0a1;
}

.learn-more:hover {
    border: 1px solid #f3b182;
    background: linear-gradient(85deg, #FEC195, #fcc196, #fabd92, #fac097, #fac39c);
    animation: wind 2s ease-in-out infinite;
}

@keyframes wind {
0% {
    background-position: 0% 50%;
}

0% {
    background-position: 50% 100%;
}

0% {
    background-position: 0% 50%;
}
}

.icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all .5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
}

.learn-more:hover .icon-1 {
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
}

@keyframes slay-1 {
0% {
    transform: rotate(10deg);
}

50% {
    transform: rotate(-5deg);
}

100% {
    transform: rotate(10deg);
}
}

.icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

.learn-more:hover .icon-2 {
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
}

@keyframes slay-2 {
0% {
    transform: rotate(0deg);
}

50% {
    transform: rotate(15deg);
}

100% {
    transform: rotate(0);
}
}

.icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

.learn-more:hover .icon-3 {
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
}

@keyframes slay-3 {
0% {
    transform: rotate(0deg);
}

50% {
    transform: rotate(-5deg);
}

100% {
    transform: rotate(0);
}
}

  
/* LEMON CARDS */

.types {
    display: flex;
    justify-content: space-around;
    margin-right: 5vw;
}

.card {
    width: 200px;
    height: 200px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card:hover .card-inner {
    transform: rotateY(180deg); 
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: #6A2C70;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid #6A2C70;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
}

.card-front img {
    width: 70%;
}

.card-front h1 {
    font-family: var(--font-primary);
    font-size: 1.5rem;
}

.card-front p {
    font-family: var(--font-secundary);
    font-size: 1rem;
}

.card-back {
    background-color: #F08A5D;
    font-family: var(--font-primary);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid #F08A5D;
    border-radius: 10px;
    justify-content: center;
    font-size: 18px;
    transform: rotateY(180deg);
}

.card-back h1 {
    font-family: var(--font-primary);
    font-size: 1.2rem;
}
.card-back p {
    font-family: var(--font-secundary);
    font-size: 1rem;
}